<div class="formulaire_spip formulaire_recherche[ (#ENV{class})]" id="formulaire_recherche">
<form action="[(#ENV{action})]" method="get">
	<div class="editer-groupe">
		[(#ENV{action}|form_hidden)]
		[<input type="hidden" name="lang" value="(#ENV{lang})" />]
		<label for="#ENV{_id_champ}"><:info_rechercher_02:></label>
		<input type="[(#HTML5|?{search,text})]" class="search text" size="10" name="recherche" id="#ENV{_id_champ}"[ value="(#ENV{recherche})"] accesskey="4" autocapitalize="off" autocorrect="off"/>
		<input type="submit" class="submit" value="&gt;&gt;" title="<:info_rechercher:>" />
	</div>
</form>
</div>
