[	<li id="minibando_bouton_statistiques"><a href="(#ENV{statistiques})" id="statistiques">
		[<:statistiques:info_visites:>&nbsp;(#ENV{visites})][;&nbsp;<:statistiques:info_popularite_5:>&nbsp;(#ENV{popularite})]</a><span>&nbsp;</span><ul><li><p>[<:statistiques:info_visites:>&nbsp;(#ENV{visites})][;&nbsp;<:statistiques:info_popularite_5:>&nbsp;(#ENV{popularite})]</p></li></ul></li>]